#allClocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#multyClock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5vw;
    background: rgba(255, 255, 255, 0.308);
}

#multyContentClock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
}